#register {
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.container_register {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 40px 30px;
    width: 100%;
    max-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #34495e;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3498db;
    /* Odaklanıldığında mavi çerçeve */
    outline: none;
}

input[type="submit"] {
    width: 100%;
    background-color: #3498db;
    /* Mavi buton */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
    /* Daha koyu mavi */
}

/* Mobil cihazlar için uyumlu tasarım */
@media (max-width: 480px) {
    .container_register {
        padding: 30px 20px;
    }

    h1 {
        font-size: 2rem;
    }
}